@{
    ViewBag.Title = "Home Page";
}

<div>
    <table style="width:400px;height:100px;">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Course</th>
        </tr>
        <tr>
            <td>@ViewBag.FirstName</td>
            <td>@ViewBag.LastName</td>
            <td>@ViewBag.Course</td>
        </tr>
    </table>

    <p>Time: @ViewBag.Time</p>
</div>